/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .section-triangle {
        margin-left: 10vw;
    }
    .section-triangle.right-triangle {
        margin-left: 60vw;
        /* margin-top: -4rem; */
      }
 
    .hero, .section, .testimonials {
 
        overflow: hidden;
    }
    .hero {
        /* overflow-y: visible; */
        /* background-color: unset;*/
        /* height: 50vh;  */
    }
    .hero .color {
        width: 100%;
        height: 90%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: var(--blue);
    }
    .hero .swiper {
        overflow: hidden;
    }
    .hero-text h1, .inner-header h1 {
  
        font-size: 1.9rem;
    }
    .hero .row {
        position: relative;
    }

    .hero .row .hero-hexagon-2 {
        background-color: var(--black);
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        left: 60%;
        /* z-index: 999; */
    }

    .hero .hero-text {
        padding-bottom: 0;
        z-index: 9;
    }
    .hero .hero-text h1 {
        z-index: 9999;
    }
    .hero .hero-text-container {
        clip-path: unset;
        padding-bottom: 0;
        background-color: unset;
        position: relative;
    }

    .hero-hexagon-blue {
        background-color: var(--blue-dark);
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        position: absolute;
        /* top:0; */
        bottom: -5rem;
        left: -3rem;
        z-index: 1;
    }
    .guide .card {
        min-height: 23rem;
    }

    
    .hero-text-container, .testimonials-text-container {
        height: fit-content;
    }

    .guide h2 {
        font-size: 2.8rem;
    }
    .guide hr {
        display: none;
    }
    .our-doors-home p {
        font-size: 1.25rem;
    }
    .our-doors-home a.card p:nth-of-type(3) {
        font-size: .75rem;
    }

    .about-us .card-col {
        flex-direction: row;
        /* margin: 0 2rem; */
        justify-content: center;
    }
    .about-us .card-col .card-divider {
        border-bottom: none;
        border-left: 2px solid var(--black);
        width: 2px;
        height: 100px;
        margin: 0;
        padding: 0;
        margin-right: -10rem;
    }

    .testimonials {
        padding-top: 4rem;
    }
    
    .testimonials .color {
        width: 100%;
        height: 90%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: var(--blue);
    }

    .testimonials-text h1, .inner-header h1 {
  
        font-size: 1.9rem;
    }
    .testimonials .row {
        position: relative;
    }
    .testimonials-hexagon-testimonials-black {
        transform: rotate(90deg);
        /* z-index: 9999; */
    }

    .testimonials .row .testimonials-hexagon-2 {
        background-color: var(--black);
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        left: 60%;
        /* z-index: 999; */
    }

    .testimonials .testimonials-text {
        padding-bottom: 0;
        z-index: 9;
    }
    .testimonials .testimonials-text h1 {
        z-index: 9999;
    }
    .testimonials .testimonials-text-container {
        clip-path: unset;
        padding-bottom: 0;
        background-color: unset;
        position: relative;
    }

    .testimonials-hexagon-blue {
        background-color: var(--blue-dark);
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        position: absolute;
        /* top:0; */
        bottom: -5rem;
        left: -3rem;
        z-index: 1;
    }

    .door-cards-1 .title h2 {
        font-size: .7rem;
    }
    .door-cards-1 .foot p {
        font-size: 0.5rem;
    }

    .door-cards-2 .title h2 {
        font-size: 1.25rem;
    }
    .door-cards-2 .title p {
        font-size: .75rem;
    }
    
    .door-cards-2 .foot p {
        font-size: 0.5rem;
    }
    .door-cards-2 .img-container {
        padding: 2rem;
    }
    .door-product-inner .hex-container .blue-hex-product {
        justify-content: start;
        padding-top: 2rem;
    }
    .door-product-inner .hex-container .blue-hex-product svg {
        max-height: unset;
        width: 45%;
    }
    .door-product-inner .hex-container .blue-hex-product h4 {
        font-size: 1rem;
    }
    .door-product-inner .hex-container .blue-hex-product p {
        font-size: .75rem;
    }
    .door-product-inner .title {
        margin-top: .5rem;
    }

    /* Footer - Medium devices */

    .shfooter .collapse {
        display: none;
    }
    footer .footer-text {
        font-size: 1rem;
    }
  
    
}