/* Large devices (large tablets, 992px and up) */

@media (min-width: 992px) {

  


.guide .container-fluid .container {
    width: 100%!important;
    margin: 0;
}
.guide h2, .our-doors h2, .about-us h2 {
    font-size: 2.1rem;
}
.guide h2 { 
    font-size: 1.5rem;
}
.guide .card {
    padding: 0 1rem .5rem 1rem;
}
.guide .card h3 {
    font-size: 1.5rem;
}
.our-doors-home p {
    font-size: 1.875rem;
}
.our-doors-home a.card p:nth-of-type(3) {
    font-size: 1rem;
}
.guide .card {
    min-height: 19rem;
}

/* Footer - Large Devices */

.shfooter .collapse {
display: block;
}
footer .fa-chevron-right {
display: inline-block;
}
footer ul li {
margin-bottom: 10px;

}
footer ul li span {
    display: inline-block;
}
footer ul li a:hover span {
    animation: arrow-right 0.3s linear forwards; 
          
      }
  
  @keyframes arrow-right {
    from {
      transform: translateX(0px); }
    to {
      transform: translateX(2px); } 
      
  }

  #footer .footer-title {
    font-size: 1.5rem;
  }
  


}